# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
.well-known/acme-challenge/S9OF6D1fZRBHxDhPtiB4Xt0Lv_6XdAVCkpZvn24nrUQ
.well-known/acme-challenge/8DKLGkb864ueZ_4OhTv7D9rD5jQvTY-y8uD0Vl7f9x0
.ftpquota
